body{
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

h4{
  font-size: 24px;
  -webkit-margin-after: 7px;
  -webkit-margin-before: 18px;
  -webkit-margin-start: 21px;
  -webkit-margin-end: 21px;
}

p{
  -webkit-margin-after: 12px;
  -webkit-margin-start: 21px;
  -webkit-margin-end: 21px;
}

ul{
  padding: 0;
  -webkit-margin-after: 21px;
  -webkit-margin-before: 21px;
  -webkit-margin-start: 21px;
  -webkit-margin-end: 21px;
}
li{
  margin-left: 30px;
  margin-bottom: 14px;
}
.pageWrapper{
  max-width: 780px;
  margin: 0 auto;
}

blockquote{
  border-left: 3px solid #000;
  padding-left: 15px;
  margin: 0;
  margin-right: 21px;

}