<!DOCTYPE html>
<html>
  <head>
    <title>Votify API</title>
    <link href="../assets/styles/application.css" rel="stylesheet">
  </head>
  <body>
    <div class="pageWrapper">
      <h4>setPoll(POST)</h4>
      <p>Create poll.</p>
      <ul>
        <li><strong>question</strong> <em>(String, 1-32 characters, required)</em></li>
      </ul>
      <blockquote>api.localhost/setPoll</blockquote>

      <h4>setVote(POST)</h4>
      <p>Create possible answer for last created poll.</p>
      <ul>
        <li><strong>vote</strong> <em>(String, 1-32 characters, required)</em></li>
        <li><strong>poll_id</strong> <em>(String, 1-32 characters, required)</em></li>
      </ul>
      <blockquote>api.localhost/setVote</blockquote>

      <h4>getVotePoll(GET)</h4>
      <p>Return last poll with possible answers.</p>
      <blockquote>api.localhost/getVotePoll</blockquote>

      <h4>setVotePoll(POST)</h4>
      <p>Set poll with answer to user.</p>
      <ul>
        <li><strong>poll_id</strong> <em>(String, 1-32 characters, required)</em></li>
        <li><strong>vote_id</strong> <em>(String, 1-32 characters, required)</em></li>
        <li><strong>country</strong> <em>(String, 1-32 characters, required)</em></li>
        <li><strong>os</strong> <em>(String, 1-32 characters, required)</em></li>
        <li><strong>ip</strong> <em>(String, 1-32 characters, required)</em></li>
      </ul>
      <blockquote>api.localhost/setVotePoll</blockquote>

      <h4>method(POST)</h4>
      <p>description</p>
      <ul>
        <li><strong>key</strong>< em> (String, 1-32 characters, required)</em></li>
      </ul>
      <blockquote>api.localhost/method</blockquote>
    </div>
  </body>
</html>